<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClarTalk</title>
    <link rel="stylesheet" href="./stylesheets/community.css">
</head>
<body>
    <section class="contanier">
        <div class="home">
            <nav>
                <div class="image">
                <img src="/images/nav.png" alt="clartalk">
                <div class="search"><input type="text" name="" id="" placeholder="Search"></div>
                </div>
                <div class="nav">
                <a href="/" class="Live">Live</a>
                <a href="/debate" class="Debates">Debates</a>
                <a href="/podcast" class="Podcasts">Podcasts</a>
                <a href="/community" class="Community">Community</a>
            </div>
            </nav>
            <div class="page">
                <section class="group">
                    <div class="chat">
                        <strong>Demo 1</strong>
                        <div class="msg"><span>Admin:</span>
                            <p>BJP should come but with this .........</p>
                        </div>
                        <div class="button">chat</div>
                    </div>
                </section>
                <section class="group">
                    <div class="chat">
                        <strong>Demo 2</strong>
                        <div class="msg"><span>Modi:</span>
                            <p>BJP should come but with this .........</p>
                        </div>
                        <div class="button">chat</div>
                    </div>
                </section>
                <section class="group">
                    <div class="chat">
                        <strong>Demo 3</strong>
                        <div class="msg"><span>Neeraj:</span>
                            <p>BJP should come but with this .........</p>
                        </div>
                        <div class="button">chat</div>
                    </div>
                </section>
                <section class="group">
                    <div class="chat">
                        <strong>Demo 4</strong>
                        <div class="msg"><span>Rakesh:</span>
                            <p>BJP should come but with this .........</p>
                        </div>
                        <div class="button">chat</div>
                    </div>
                </section>
                <section class="group">
                    <div class="chat">
                        <strong>Demo 5</strong>
                        <div class="msg"><span>Dhruv:</span>
                            <p>BJP should come but with this .........</p>
                        </div>
                        <div class="button">chat</div>
                    </div>
                </section>
                <section class="group">
                    <div class="chat">
                        <strong>Demo 6</strong>
                        <div class="msg"><span>Rahul:</span>
                            <p>BJP should come but with this .........</p>
                        </div>
                        <div class="button">chat</div>
                    </div>
                </section>
                <div class="instruction">
                    No More Community
                </div>
            </div>
        </div>
    </section>
</body>
</html>