<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClarTalk</title>
    <link rel="stylesheet" href="/stylesheets/creatorpage.css">
</head>
<body>
    <section class="container">
        <header>
            <div class="branding">
                <img src="/images/nav.png" alt="ClarTalk Logo">
                <div class="search-bar">
                    <input type="text" placeholder="Search topics, debates...">
                </div>
            </div>
            <nav class="navigation">
                <a href="/creator/content/<%= user._id %>" class="nav-link">
                    <i class="fas fa-comments"></i> Content
                </a>
                <a href="" class="nav-link active">
                    <i class="fas fa-podcast"></i> Debates
                </a>
                <a href="/creator/creator/community/<%= user._id %>" class="nav-link ">
                    <i class="fas fa-users"></i> Community
                </a>
                <a href="/creator/creator/MUN/<%= user._id %>" class="nav-link">
                    <i class="fas fa-trophy"></i> MUN
                </a>
            </nav>
        </header>
            <div class="page">
                    <div class="videos">
                        <a href="#">
                            <img src="/images/dhruv.jpg" alt="">
                            <div class="video-details">
                                <p class="video-title">vedio.title</p>
                                <p class="video-time">vedio.createdAt.toLocaleDateString('en-GB')</p>
                                <p class="Views">120292 Views</p>
                            </div>
                        </a>
                    </div>
            </div>            
        </div>
    </section>
    <script type="module" src="/firebase-notification.js"></script>
</body>
</html>