<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creator page</title>
    <link rel="stylesheet" href="/stylesheets/live.min.css">
    <script type="module" src="/firebase-notification.min.js"></script>
    <style>
      .instruction {
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center;
        color: #ff9800;
      }
      .radio-container {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 20px;
      }
      input[type="radio"] {
        accent-color: #ff4500;
        transform: scale(2);
      }
    </style>
</head>
<body>
    <section>
        <h1>Stream Live</h1>
        <div class="form">
            <form action="/creator/stream/live" method="post" enctype="multipart/form-data" class="form-group">
                <h4 class="image-heading">Upload Thumbnail</h4>
                <input type="file" name="Thumbnail" class="image">
                <h2 class="time-heading">Streaming Time</h2>
                <input type="datetime-local" name="Time" class="time">
                <input type="text" name="title" id="title" placeholder="Give Title">
                <input type="text" name="description" id="description" placeholder="Give description">
                <p class="instruction">Select Content Type:</p>
                <div class="radio-container">
                    <label>
                        <input type="radio" id="Support" name="Support" value="Support" required>
                        <span>Support Of The Topic</span>
                    </label>
                    <label>
                        <input type="radio" id="Against" name="Support" value="Against" required>
                        <span>Against The Topic</span>
                    </label>
                </div>
                  <div class="opponent" style="position: relative;">
                    <p>Opponent Debater</p>
                    <input type="text" placeholder="username" id="username-input" name="opponent" autocomplete="off">
                    <div id="suggestions-box" style="display: none; position: absolute; background: white; z-index: 1000;"></div>
                  </div>                  
                <input type="submit" value="Send Request" id="button">
            </form>
        </div>
    </section>
    <script src="/javascript/live-uploader.min.js"></script>    
</body>
</html>