<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/MUN-Page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <section class="container">
        <header>
            <div class="branding">
                <img src="/images/nav.png" alt="ClarTalk Logo">     
            </div>
            <nav class="navigation">
                <a href="/" class="nav-link">
                    <i class="fas fa-tv"></i> Live
                </a>
                <a href="debate" class="nav-link">
                    <i class="fas fa-comments"></i> Entertainment
                </a>
                <a href="podcast" class="nav-link">
                    <i class="fas fa-podcast"></i> Podcasts
                </a>
                <a href="/community" class="nav-link">
                    <i class="fas fa-users"></i> Community
                </a>
                <a href="/creator/opponent-requests/>" class="nav-link">
                    <i class="fas fa-envelope"></i> Requests
                </a>
                <a href="/LeaderBoard" class="nav-link">
                    <i class="fas fa-trophy"></i> Leaderboard
                </a>
                <a href="/MUN-competetion" class="nav-link  active">
                    <i class="fas fa-globe"></i> MUN
                </a>
                <a href="/Notification" class="nav-link">
                    <i class="fas fa-bell"></i> Notifications
                </a>
                <a href="/profile" class="nav-link">
                    <i class="fas fa-user"></i> Profile
                </a>
            </nav>
        </header>
        <div class="page">
            <% competition.forEach(function(competition){  %>
            <div class="box">
                <div class="box-banner">
                    <img src="data:image/jpeg;base64,<%= competition.CompetitionDP.toString('base64') %>" alt="MUN-IMAGE">
                </div>
                <div class="competition-name">
                    <h4><%= competition.CompetitionName %></h4>
                    <p><%= competition.CompetitionisAbout %></p>
                </div>
                <a href="/Discover-Page-of-MUN/<%= competition._id %>" id="routetag">Check It</a>
            </div>
            <% }) %>   
        </div>
    </section>
    <script type="module" src="/firebase-notification.js"></script>
</body>
</html>