<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/MUN-Page.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .instruction{
            display: flex;
            font-size: 15px;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        .Button-instruction{
            padding: 10px;
            background: linear-gradient(135deg,#ff5722,#ff9800);
            color: white;
            text-decoration: none;
            border-radius: 30px;
            font-size: 17px;
            position: relative;
            box-shadow: 0 4px 10px rgba(255,87,34,.5);
        }
        .Button-instruction:hover{
            background: linear-gradient(135deg,#ff9800,#ff5722);
            transform: scale(1.5);
        }
        </style>
</head>
<body>
    <section class="container">
        <header>
            <div class="branding">
                <img src="/images/nav.avif" alt="ClarTalk Logo">     
            </div>
            <nav class="navigation">
                <a href="/" class="nav-link">
                    <i class="fas fa-tv"></i> Live
                </a>
                <a href="debate" class="nav-link">
                    <i class="fas fa-comments"></i> Entertainment
                </a>
                <a href="podcast" class="nav-link">
                    <i class="fas fa-podcast"></i> Podcasts
                </a>
                <a href="/community" class="nav-link">
                    <i class="fas fa-users"></i> Community
                </a>
                <a href="/creator/opponent-requests/>" class="nav-link">
                    <i class="fas fa-envelope"></i> Requests
                </a>
                <a href="/LeaderBoard" class="nav-link">
                    <i class="fas fa-trophy"></i> Leaderboard
                </a>
                <a href="/MUN-competetion" class="nav-link  active" id="active-tab">
                    <i class="fas fa-globe"></i> MUN
                </a>
                <a href="/profile" class="nav-link">
                    <i class="fas fa-user"></i> Profile
                </a>
            </nav>
        </header>
        <div class="page">
            <% competition.forEach(function(competition){  %>
            <div class="box">
                <div class="box-banner">
                    <img src="<%= competition.CompetitionDP %>" alt="MUN-IMAGE">
                </div>
                <div class="competition-name">
                    <h4><%= competition.CompetitionName %></h4>
                    <p><%= competition.CompetitionisAbout %></p>
                </div>
                <a href="/Discover-Page-of-MUN/<%= competition._id %>" id="routetag">Check It</a>
            </div>
            <% }) %>   
        </div>
        <div class="instruction">
            <p>Click on the button below to create a Competition</p>
            <a href="/creator/Create-The-Competition" class="Button-instruction">Create Competition</a>
        </div>
    </section>
    <script type="module" src="/firebase-notification.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
    let activeTab = document.getElementById("active-tab");
    if (activeTab) {
        activeTab.scrollIntoView({ behavior: "smooth", inline: "center" });
    }
});
    </script>
</body>
</html>