<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My World</title>
  <link rel="stylesheet" href="./stylesheets/myworld.min.css">
</head>
<body>
<!-- Main Container -->
<div class="container">
<!-- Header Section with Page Name -->
<header>
      <h1>My World</h1>
</header>
<div class="page">
      <% communities.communities.forEach(function(Community){ %>
      <section class="group">
        <div class="chat">
          <div class="community-name"><%= Community.CommunityName %></div>
          <div class="msg">
            <p>
              <span>About The Community:</span> <%= Community.CommunityisAbout %></p>
        </div>
        <a href="">
          <div class="button"><%= communities.username %></div>
        </a>
        </div>
      </section>
      <% }) %>
    
</div>
<div class="extra">
<h1>No More Communities</h1>
</div>
</div>
</body>
</html>