<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClarTalk</title>
    <link rel="stylesheet" href="./stylesheets/profile.css">
</head>
<body>
    <section class="contanier">
        <div class="home">
            <nav>
                <div class="image">
                <img src="/images/nav.png" alt="clartalk">
                <div class="Points">
                    <p>Ranking: 1</p>
                </div>
                </div>
                <div class="nav">
                <a href="/" class="Live">Live</a>
                <a href="debate" class="Debates">Debates</a>
                <a href="podcast" class="Podcasts">Podcasts</a>
                <a href="/community" class="Community">Community</a>
                <a href="/creator/opponent-requests/" class="requests">Requests</a>
                <a href="/profile" class="profile">Profile</a>
            </div>
            </nav>
            <div class="profile-page">
                 <div id="profile-page">
                    <span class="profile-img"><img src="/images/Default.png" alt="Upload Profile Page"></span>
                    <div id="About-user">
                        <div class="username">
                            <strong>Profile UserName</strong>
                        </div>
                        <div class="follower video">
                            <p>
                                <span class="videos">28 videos</span>
                                <span class="followers">78k followers</span>
                            </p>
                        </div>
                    </div>
                    <a href="/#" id="update-a">
                        <div class="update-user-profile">Update The Profile</div>
                    </a>
                 </div>
                 <section class="input">
                    <a href="#" class="input-a">
                        <div class="My-videos">
                             <p>Uploaded Content</p>
                        </div>
                    </a>
                    <a href="#" class="input-a">
                        <div class="My-videos">
                             <p>Sent Requests</p>
                        </div>
                    </a>
                    <a href="#" class="input-a">
                        <div class="My-videos">
                             <p>Build Communities</p>
                        </div>
                    </a>
                    <a href="#" class="input-a">
                        <div class="My-videos">
                             <p>Viewers Score</p>
                        </div>
                    </a>
                 </section>
                 <div id="extra">
                    <p class="extra">World Is Yet To Conqures</p>
                 </div>
            </div>
        </div>
    </section>
</body>
</html>