<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .request-form{
            width: 300px;
            height: 100px;
            position: relative;
            top: 20px;
        }
    </style>
</head>
<body>
    <% contents.Sender.forEach(function(content){ %>
    <h1>Pending Requests</h1>
            <p><strong>Title: <%= content.title %></strong></p>
    <p><strong>Description: <%= content.description %></strong></p>
    <p><strong>Opponent Name: <%= content.OpponentName.username %></strong></p>
    <% }) %>
</body>
</html>