<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="./stylesheets/settings.css">
</head>
<body>
    <section>
        <div id="Header">
            <h1>Settings</h1>
        </div>
        <div class="page">
            <div class="content">
                <a href="/creator/creator/upload"><p>Upload Content</p></a>
            </div>
            <div class="content">
                <a href="/creator/creator/Live"><p>Organize Live</p></a>
            </div>
            <div class="content">
                <a href="/creator/Building-The-Community"><p>Create Community</p></a>
            </div>
            <div class="content">
                <a href="/creator/Create-The-Competition"><p>Introduce the Competition</p></a>
            </div>
            <div class="content">
                <a href="/Delete-Account" onclick="return confirm('Are you sure you want to delete your account? This action is irreversible!');">
                    <p>Delete Content</p>
                </a>
            </div>            
            <div class="content">
                <a href="#"><p>Delete Community</p></a>
            </div>
            <div class="content">
                <a href="#"><p>Delete Profile</p></a>
            </div>
        </div>
    </section>
</body>
</html>
