<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creator Page</title>
    <link rel="stylesheet" href="/stylesheets/upload.min.css">
</head>
<body>
    <section>
        <h1 class="main-heading">Upload Your Podcast or Video</h1>
        <div class="form-container">
            <form action="/creator/upload-thumbnail" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <h4 class="form-label">Upload Thumbnail</h4>
                    <input type="file" name="Thumbnail" class="form-input" required>
                </div>

                <div class="input-group">
                    <input type="text" name="title" id="title" placeholder="Enter Title" maxlength="50" required>
                </div>

                <div class="input-group">
                    <textarea name="description" id="description" placeholder="Enter Description" required></textarea>
                </div>

                <div class="input-group">
                    <h4 class="form-label">Upload Tags</h4>
                    <input type="text" id="tags" placeholder="Enter Tags with # and Separate with comma">
                </div>
            
                <div class="tag-box" id="tagContainer"></div>

                <input type="hidden" name="Tags" id="hiddenTags">

                <p class="instruction">Select Content Type:</p>
                <div class="radio-container">
                    <label>
                        <input type="radio" id="video" name="contentType" value="video" required>
                        <span>Video</span>
                    </label>
                    <label>
                        <input type="radio" id="podcast" name="contentType" value="podcast" required>
                        <span>Podcast</span>
                    </label>
                </div>

                <button type="submit" id="submit-button">Submit</button>
            </form>
        </div>
    </section>
    <script src="/javascript/upload.min.js"></script>
</body>
</html>
