<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-container">
        <form action="/creator/entertainment/uploaded" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <h4 class="form-label">Upload Video</h4>
                <input type="file" name="vedio" class="form-input">
            </div>
            <button type="submit" id="submit-button">Submit</button>
        </form>
    </div>
</body>
</html>