body{
    background-color: black;
    position: relative;
    width: 100%;
    left: 500px;
    overflow: hidden;
}
form{
    background-color: grey;
    position: relative;
    width: 550px;
    height: 550px;
    border-radius: 40px;
}
h1{
    color: white;
    font-size: 30px;
}
.time{
    padding: 0px 0px 10px 20px;
    border: none;
    font-size: 30px;
    top: -10px;
    left: 30px;
    position: relative;
}
.image{
    padding: 10px 0px 10px 20px;
    border: none;
    font-size: 30px;
}
#title{
    padding: 16px 150px 15px 40px;
    left: 20px;
    border-radius: 30px;
    border: none;
    position: relative;
    font-size: 20px;
    background-color: rgba(41, 40, 40, 0.963)
}
#description{
    padding: 16px 150px 15px 40px;
    left: 20px;
    border-radius: 30px;
    font-size: 20px;
    top: 10px;
    border: none;
    position: relative;
    background-color: rgba(41, 40, 40, 0.963)
}
p{
    color: white;
    font-size: 30px;
    left: 20px;
    position: relative;
}
#username-input{
    padding: 10px 40px 15px 25px;
    max-height: 40px;
    left: 40px;
    border-radius: 50px;
    font-size: 20px;
    top: 40px;
    border: none;
    position: relative;
    background-color: rgba(41, 40, 40, 0.963);
}
#button{
    padding: 10px 100px 10px 100px;
    position: relative;
    top: 10px;
    border-radius: 30px;
    left: 45px;
    border: none;
    font-size: 25px;
    background-color: rgb(0, 0, 122);
    color: white;
}
.time-heading{
    top: -20px;
    font-size: 30px;
    position: relative;
    left: 30px;
    height: 10px;
    color: black;
}
.image-heading{
    top: 20px;
    font-size: 30px;
    position: relative;
    left: 30px;
    height: 10px;
}
.opponent{
    width: 400px;
    display: flex;
}
.flash-message {
    position: relative;
    top: 10px;
    background-color: red;
    padding: 10px 20px 10px 20px; 
    max-width: 500px;
    min-width: 300px;
    border-radius: 7px;
    font-size: 23px; 
    color: white; 
    text-align: center; 
    animation: fadeOut 3s forwards;
}